<template name="mpmri">
    {{#header headerClasses='navbar-fixed-top'}}

    {{/header}}

    <div id="entrySignIn" class="page" style="background-color: #ffffff;{{getOpacityWithCorner}} ">
        <div class="content-scrollable">

            <main role="main">


                <div class="container">
                    <section id="team" class="pb-5">
                        <div class="container">

                            <div class="row">
                                <div class="col-md-8 offset-md-2">
                                    <img src="bgi1.gif" alt="" style="height:50rem;position: absolute;width: 80%;height: 50rem;margin-left: 800px;" >
                                    <div class="bd-example" data-example-id="">
                                        <div id="accordion" role="tablist" aria-multiselectable="true">
                                            <div class="card">
                                                <div class="card-header" role="tab" id="headingOne">
                                                    <div class="mb-0">
                                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="collapsed">
                                                            <i class="fa fa-file-text-o" aria-hidden="true"></i>
                                                            <h3>Multiparametric MRI (mpMRI)</h3>
                                                            <p>Taken from Chatterjee et al </p>
                                                        </a>
                                                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                                                    </div>
                                                </div>

                                                <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" aria-expanded="false" style="">
                                                    <div class="card-block">
                                                       Prostate mpMRI consists of T2-weighted imaging (T2WI), diffusion weighted imaging (DWI), pre-contrast
                                                            T1-weighted imaging (T1WI) and dynamic contrasted enhanced (DCE) MRI. mpMRI imaging is highly
                                                            sensitive in the detection of prostate cancer compared to any individual sequence. A study <a href="#2"><sup>[2]</sup></a> reported that individually T2 weighted MR (58%) and DWI (53%)
                                                            and DCE-MRI (38%) imaging sequences demonstrate lower sensitivity compared to mpMRI (85%). Reported
                                                            positive and negative predictive value for prostate cancer detection using mpMRI is also much higher
                                                            than that using either of these imaging sequences individually. </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header" role="tab" id="headingTwo">
                                                    <div class="mb-0">
                                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseOne" class="collapsed">
                                                            <i class="fa fa-file-text-o" aria-hidden="true"></i>
                                                            <h3>T2-Weighted Imaging (T2WI)</h3>
                                                                  </a>
                                                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                                                    </div>
                                                </div>
                                                <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" aria-expanded="false">
                                                    <div class="card-block">
                                                        T2-weighted imaging allows excellent soft tissue contrast along with good spatial resolution and high
                                                        signal-to-noise ratio. It provides good visualization of the zonal anatomy, seminal vesicles and
                                                        neurovascular bundle. High resolution T2WI with 2D turbo/fast spin echo or 3D spin echo sequences
                                                        with in plane resolution ≤ 0.4-0.7 mm and slice thickness ≤ 3mm is recommended. Images are acquired
                                                        in the axial, sagittal and coronal planes, while DWI, T1W and DCE-MRI are obtained in the same
                                                        planes as axial T2WI. Prostate cancer is hypointense on T2-weighted images compared to benign tissue
                                                        and      </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header" role="tab" id="headingThree">
                                                    <div class="mb-0">
                                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseOne" class="collapsed">
                                                            <i class="fa fa-file-text-o" aria-hidden="true"></i>
                                                            <h3>Diffusion-Weighted Imaging (DWI)</h3>
                                                                </a>
                                                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                                                    </div>
                                                </div>
                                                <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" aria-expanded="false">
                                                    <div class="card-block">
                                                        Diffusion weighted imaging provides a signal sensitive to water movement and provides information
                                                        about the tissue structure and density. A spin echo, echo planar imaging pulse sequence with plane
                                                        resolution > 2.5 mm and slice thickness ≤ 4 mm is generally utilized clinically. Images with at
                                                        least two b-values are required to acquire an apparent diffusion coefficient (ADC) map using a
                                                        mono-exponential signal decay model. A lower b-value of 50-100 s/mm2 and higher 800-1500 s/mm2 is
                                                        generally used. On high b-value (~1500 s/mm2 images) increased signal is seen in prostate cancer due
                                                        to reduced diffusivity. ADC is a measure of the magnitude of the diffusivity of water molecules and
                                                        is used extensively clinically for the detection of cancer. ADC in cancer tissue is lower than in
                                                        normal tissue and there is an inverse relation between ADC value and cancer Gleason grade     </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header" role="tab" id="headingOne">
                                                    <div class="mb-0">
                                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseOne" class="collapsed">
                                                            <i class="fa fa-file-text-o" aria-hidden="true"></i>
                                                            <h3>T1-Weighted Imaging (T1W)</h3>
                                                             </a>
                                                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                                                    </div>
                                                </div>

                                                <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingOne" aria-expanded="false" style="">
                                                    <div class="card-block">
                                                        Pre-contrast T1W images are taken over a large field of view using spin or gradient echo pulse
                                                        sequence either with or without fat suppression to observe post biopsy changes. T1 hyperintensity in
                                                        the prostate is usually due to hemorrhage in the prostate after biopsy.      </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header" role="tab" id="headingTwo">
                                                    <div class="mb-0">
                                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseOne" class="collapsed">
                                                            <i class="fa fa-file-text-o" aria-hidden="true"></i>
                                                            <h3>Dynamic Contrasted Enhanced MRI (DCE-MRI)</h3>
                                                                </a>
                                                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                                                    </div>
                                                </div>
                                                <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingTwo" aria-expanded="false">
                                                    <div class="card-block">
                                                        DCE-MRI involves the acquisition of serial T1-weighted images (fast/spoiled gradient echo sequence
                                                        with fat suppression) of the prostate before and after the bolus injection of a chelated gadolinium
                                                        (Gd) molecule. Cancers show early focal signal enhancement due to increased vascularity or
                                                        angiogenesis <a href="#15"><sup>[15, 16]</sup></a>. Increased capillary permeability leads to higher
                                                        uptake of contrast agent that shortens T1 relaxation time and therefore shows up as hyperintense
                                                        region with respect to surrounding tissue. Temporal resolution less than 10 seconds is recommended
                                                        as use of higher temporal resolution leads to increased diagnostic performance      </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header" role="tab" id="headingThree">
                                                    <div class="mb-0">
                                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseOne" class="collapsed">
                                                            <i class="fa fa-file-text-o" aria-hidden="true"></i>
                                                            <h3>Collapsible Group Item</h3>
                                                                 </a>
                                                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                                                    </div>
                                                </div>
                                                <div id="collapseSix" class="collapse" role="tabpanel" aria-labelledby="headingThree" aria-expanded="false">
                                                    <div class="card-block">
                                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
<!--
                            <div class="row" style="width: 60%;float: right;position: absolute">
                                <div class="col-md-8 offset-md-2">
                                    <img src="bgi1.gif" alt="" style="width: 100%;height:50rem" >
                                </div>
                            </div>-->



                            <div class="row" style="width: 200%">
                                <!-- R2 -->

                                <div class="col-lg-6 mx-auto p-5 textcontent">
                                    <small>
                                        <ol>
                                            <a name="1">&nbsp;</a>
                                            <li>Chatterjee A, Oto A. Future Perspectives in Multiparametric Prostate MR Imaging. Magnetic
                                                Resonance Imaging Clinics of North America 2019; 27:117-130
                                            </li>
                                            <a name="2">&nbsp;</a>
                                            <li>Turkbey B, McKinney YL, Trivedi H, et al. Multiparametric 3T prostate magnetic resonance
                                                imaging to detect cancer: histopathological correlation using prostatectomy specimens
                                                processed in customized magnetic resonance imaging based molds. The Journal of urology 2011;
                                                186:1818-1824
                                            </li>
                                            <a name="3">&nbsp;</a>
                                            <li>Baur AD, Maxeiner A, Franiel T, et al. Evaluation of the prostate imaging reporting and data
                                                system for the detection of prostate cancer by the results of targeted biopsy of the
                                                prostate. Invest Radiol 2014; 49:411-420
                                            </li>
                                            <a name="4">&nbsp;</a>
                                            <li>Vilanova JC, Barceló-Vidal C, Comet J, et al. Usefulness of prebiopsy multifunctional and
                                                morphologic MRI combined with free-to-total prostate-specific antigen ratio in the detection
                                                of prostate cancer. AJR American journal of roentgenology 2011; 196:W715-W722
                                            </li>
                                            <a name="5">&nbsp;</a>
                                            <li>Rosenkrantz AB, Deng F-M, Kim S, et al. Prostate Cancer: Multiparametric MRI for Index
                                                Lesion Localization—A Multiple-Reader Study. American Journal of Roentgenology 2012;
                                                199:830-837
                                            </li>
                                            <a name="6">&nbsp;</a>
                                            <li>Greer MD, Brown AM, Shih JH, et al. Accuracy and agreement of PIRADSv2 for prostate cancer
                                                mpMRI: A multireader study. Journal of Magnetic Resonance Imaging 2017; 45:579-585
                                            </li>
                                            <a name="7">&nbsp;</a>
                                            <li>Foltz WD, Chopra S, Chung P, et al. Clinical prostate T2 quantification using
                                                magnetization-prepared spiral imaging. Magnetic Resonance in Medicine 2010; 64:1155-1161
                                            </li>
                                            <a name="8">&nbsp;</a>
                                            <li>Liney GP, Turnbull LW, Lowry M, Turnbull LS, Knowles AJ, Horsman A. In vivo quantification
                                                of citrate concentration and water T2 relaxation time of the pathologic prostate gland using
                                                1H MRS and MRI. Magnetic Resonance Imaging 1997; 15:1177-1186
                                            </li>
                                            <a name="9">&nbsp;</a>
                                            <li>Hoang Dinh A, Souchon R, Melodelima C, et al. Characterization of prostate cancer using T2
                                                mapping at 3 T: A multi-scanner study. Diagnostic and Interventional Imaging 2015;
                                                96:365-372
                                            </li>
                                            <a name="10">&nbsp;</a>
                                            <li>Gibbs P, Tozer DJ, Liney GP, Turnbull LW. Comparison of quantitative T2 mapping and
                                                diffusion-weighted imaging in the normal and pathologic prostate. Magnetic Resonance in
                                                Medicine 2001; 46:1054-1058
                                            </li>
                                            <a name="11">&nbsp;</a>
                                            <li>Liu W, Turkbey B, Sénégas J, et al. Accelerated T(2) Mapping for Characterization of
                                                Prostate Cancer. Magnetic resonance in medicine : official journal of the Society of
                                                Magnetic Resonance in Medicine / Society of Magnetic Resonance in Medicine 2011;
                                                65:1400-1406
                                            </li>
                                            <a name="12">&nbsp;</a>
                                            <li>Turkbey B, Merino MJ, Shih JH, et al. Is apparent diffusion coefficient associated with
                                                clinical risk scores for prostate cancers that are visible on 3-T MR images? Radiology 2011;
                                                258:488-495
                                            </li>
                                            <a name="13">&nbsp;</a>
                                            <li>Wu L-M, Xu J-R, Gu H-Y, et al. Usefulness of Diffusion-weighted Magnetic Resonance Imaging
                                                in the Diagnosis of Prostate Cancer. Academic Radiology 2012; 19:1215-1224
                                            </li>
                                            <a name="14">&nbsp;</a>
                                            <li>Isebaert S, Van den Bergh L, Haustermans K, et al. Multiparametric MRI for prostate cancer
                                                localization in correlation to whole-mount histopathology. J Magn Reson Imaging 2013;
                                                37:1392-1401
                                            </li>
                                            <a name="15">&nbsp;</a>
                                            <li>de Rooij M, Hamoen EH, Fütterer JJ, Barentsz JO, Rovers MM. Accuracy of multiparametric MRI
                                                for prostate cancer detection: a meta-analysis. American Journal of Roentgenology 2014;
                                                202:343-351
                                            </li>
                                            <a name="16">&nbsp;</a>
                                            <li>Kozlowski P, Chang SD, Jones EC, Berean KW, Chen H, Goldenberg SL. Combined
                                                diffusion‐weighted and dynamic contrast‐enhanced MRI for prostate cancer
                                                diagnosis—Correlation with biopsy and histopathology. Journal of Magnetic Resonance Imaging
                                                2006; 24:108-113
                                            </li>
                                            <a name="17">&nbsp;</a>
                                            <li>Othman AE, Falkner F, Weiss J, et al. Effect of Temporal Resolution on Diagnostic
                                                Performance of Dynamic Contrast-Enhanced Magnetic Resonance Imaging of the Prostate. Invest
                                                Radiol 2016; 51:290-296
                                            </li>
                                        </ol>
                                    </small>
                                </div>
                            </div>
                        </div>
                    </section>

                </div> <!-- /container -->
            </main>
        </div>
    </div>

    <!-- FOOTER BEGINS -->
    <footer id="footer" class="footer" style="background-image: url({{absoluteUrl '/packages/ohif_viewerbase/assets/footer-bg.png'}});">
        <div class="container">
            <div class="row" style="padding: 8rem 0 8rem 0;">
                <div class="col-md-4 col-lg-4">
                    <a href="https://www.uchicago.edu/"><img
                            src={{absoluteUrl "/packages/ohif_viewerbase/assets/footer_logo.png"}}
                            alt="University of Chicago" class="footer-logo"></a>
                </div>

                <div class="col-md-3 col-lg-3">
                    <a href="https://www.lenovo.com/us/en/"><img
                            src={{absoluteUrl "/packages/ohif_viewerbase/assets/lenovo_logo_white.png"}}
                            alt="RSNA Educational Application" class="img-fluid footer-logo lenovo-logo"></a>
                </div>

                <div class="col-md-5 col-lg-5">
                    <a href="https://rcc.uchicago.edu/"><img
                            src={{absoluteUrl "/packages/ohif_viewerbase/assets/logo_RCC.png"}}
                            alt="Research Computing Center (RCC) at The University of Chicago" class="footer-logo"></a>
                </div>


            </div>
        </div>
        <div class="container-fluid"
            style="padding:.5rem!important; background: rgb(24, 24, 24) none repeat scroll 0% 0%!important;">
            <div class="row text-center">
                <div class="col-md-12">
                    <p style="color: #fff!important;padding-top: 10px;">Copyright &copy;2019 <a
                            href="https://rcc.uchicago.edu/" target="_blank">Research Computing Center, The University
                            of Chicago</a>. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- FOOTER ENDS -->
</template>