<template name="incidence">
    {{#header headerClasses='navbar-fixed-top'}}

    {{/header}}

    <div id="entrySignIn" class="page" style="background-color: #ffffff;{{getOpacityWithCorner}} ">
        <div class="content-scrollable">
            <!-- Carousel ================================================== -->
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <div align="center">
                            <img src="bgi.jpeg" alt="" style="width: 100%;height:50rem" >
                        </div>

                    </div>
                </div>
            </div><!-- /.carousel -->
            <main role="main">


                <div class="container">
                    <section id="team" class="pb-5">
                        <div class="container">
                            <h1 class="jumbotron-heading" style="font-size:35px;color:#800000">OUR TEAM</h1>
                            <div class="row">
                                <!-- Team member -->
                                <div class="col-xs-12 col-sm-6 col-md-4">
                                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                        <div class="mainflip">
                                            <div class="frontside">
                                                <div class="card">
                                                    <div class="card-body text-center">
                                                        <p><img class=" img-fluid" src="pic01.png" alt="card image"></p>
                                                        <h4 class="card-title">Hakizumwami Birali Runesh, PhD</h4>
                                                        <p class="card-text">Hakizumwami Birali Runesha is the Assistant Vice President for Research Computing and founding Director of the Research Computing Center (RCC) at The University of Chicago.</p>
                                                        <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="backside collapse" id="collapseExample">
                                                <div class="card">
                                                    <div class="card-body text-center mt-4">
                                                        <h4 class="card-title">Hakizumwami Birali Runesh, PhD</h4>
                                                        <p class="card-text">Prior to joining the University of Chicago, he served as Director of Scientific Computing and Applications at the University of Minnesota Supercomputing Institute, Research Associate at the Hong Kong University of Science and Technology, Research associate for the Multidisciplinary Parallel-Vector Computer Center at Old Dominion University, and Assistant Professor in the Civil Engineering Department at the University of Kinshasa (Faculté Polytechnique).

                                                            Dr. Runesha holds a Ph.D. in Civil Engineering, is a fellow of the Rwandan Academy of Science, and has more than 25 years of experience in high performance computing, Big data and scientific software development. He serves as principal investigator on a number of funded research grants. Dr. Runesha is the current President of the Great Lakes Consortium for Petascale Computation (GLCPC)-USA and serves on the Rwandan National Council of Science and Technology.</p>
                                                        <ul class="list-inline">
                                                            <li class="list-inline-item">
                                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                                    <i class="fa fa-facebook"></i>
                                                                </a>
                                                            </li>
                                                            <li class="list-inline-item">
                                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                                    <i class="fa fa-twitter"></i>
                                                                </a>
                                                            </li>
                                                            <li class="list-inline-item">
                                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                                    <i class="fa fa-skype"></i>
                                                                </a>
                                                            </li>
                                                            <li class="list-inline-item">
                                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                                    <i class="fa fa-google"></i>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- ./Team member -->
                                <!-- Team member -->
                                <div class="col-xs-12 col-sm-6 col-md-4">
                                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                        <div class="mainflip">
                                            <div class="frontside">
                                                <div class="card">
                                                    <div class="card-body text-center">
                                                        <p><img class=" img-fluid" src="pic02.png" alt="card image"></p>
                                                        <h4 class="card-title">Teodora Szasz, Ph.D.</h4>
                                                        <p class="card-text">Teodora Szasz is Computational Scientist at Research Computing Center (RCC) at the University of Chicago.</p>
                                                        <a data-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="backside collapse" id="collapseExample1">
                                                <div class="card">
                                                    <div class="card-body text-center mt-4">
                                                        <h4 class="card-title">Teodora Szasz, Ph.D.</h4>
                                                        <p class="card-text">Teodora engages the community of researchers involved in computational image analysis at UChicago across application areas such as medicine, biology, physics, chemistry, and economics. She is developing best practices for using image data visualization and analysis tools. She has programming experience with state-of-the-art software toolkits for medical image processing and visualization. She collaborates in different project with the Department of Radiology at the University of Chicago, including: deep learning methods and quantitative analysis tools for prostate cancer detection.

                                                            Teodora earned her doctorate from the University of Toulouse (France) at Toulouse Institute of Computer Science Research, where she was working on beamforming methods for medical ultrasound imaging. Teodora earned her master’s degree in multimedia technologies at the Technical University of Cluj-Napoca in Romania, with focus on medical image processing. During her studies, she was a student worker for three years at Neurostar Gmbh (Germany) where she developed tools for the treatment of Parkinson's disease.</p>
                                                        <ul class="list-inline">
                                                            <li class="list-inline-item">
                                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                                    <i class="fa fa-facebook"></i>
                                                                </a>
                                                            </li>
                                                            <li class="list-inline-item">
                                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                                    <i class="fa fa-twitter"></i>
                                                                </a>
                                                            </li>
                                                            <li class="list-inline-item">
                                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                                    <i class="fa fa-skype"></i>
                                                                </a>
                                                            </li>
                                                            <li class="list-inline-item">
                                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                                    <i class="fa fa-google"></i>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- ./Team member -->
                                <!-- Team member -->
                                <div class="col-xs-12 col-sm-6 col-md-4">
                                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                        <div class="mainflip">
                                            <div class="frontside">
                                                <div class="card">
                                                    <div class="card-body text-center">
                                                        <p><img class=" img-fluid" src="pic03.png" alt="card image"></p>
                                                        <h4 class="card-title">Aytekin Oto, MD, MBA</h4>
                                                        <p class="card-text">Dr. Aytekin Oto is Professor of Radiology and Surgery, & Interim Chair of Radiology at the University of Chicago</p>
                                                        <a data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="backside collapse" id="collapseExample2">
                                                <div class="card">
                                                    <div class="card-body text-center mt-4">
                                                        <h4 class="card-title">Aytekin Oto, MD, MBA</h4>
                                                        <p class="card-text">Dr, Oto has a wide range of experience and expertise in the imaging of diseases affecting abdomen and pelvis. His research interest focus is development and clinical application of novel prostate MRI acquisition and interpretation so as to facilitate and improve the efficiency of prostate cancer and develop image guided prostate therapy options for the appropriate patients diagnosed with prostate cancer.

                                                            His research has resulted in more than 200 publications and over 150 scientific exhibits at national and international meetings. The two overarching aims of his research are “non-invasive and accurate diagnosis of aggressive prostate cancer using MR imaging“ and “eradication of localized prostate cancer with minimal complications using minimally invasive treatment methods”. His group has already has developed new MR sequences, pilot CAD software for prostate MRI and tested MR guided therapy methods such as laser and focused ultrasound ablation in clinical and pre-clinical studies. He has several industry, foundation and NIH grants and serves at the Editorial Board of Radiology. Dr. Oto received numerous awards including Distinguished Investigator Award, RSNA honored educator award and Distinguished Senior Clinician Award.</p>
                                                        <ul class="list-inline">
                                                            <li class="list-inline-item">
                                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                                    <i class="fa fa-facebook"></i>
                                                                </a>
                                                            </li>
                                                            <li class="list-inline-item">
                                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                                    <i class="fa fa-twitter"></i>
                                                                </a>
                                                            </li>
                                                            <li class="list-inline-item">
                                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                                    <i class="fa fa-skype"></i>
                                                                </a>
                                                            </li>
                                                            <li class="list-inline-item">
                                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                                    <i class="fa fa-google"></i>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- ./Team member -->
                                <!-- Team member -->
                                <div class="col-xs-12 col-sm-6 col-md-4">
                                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                        <div class="mainflip">
                                            <div class="frontside">
                                                <div class="card">
                                                    <div class="card-body text-center">
                                                        <p><img class=" img-fluid" src="pic04.png" alt="card image"></p>
                                                        <h4 class="card-title">Aritrick Chatterjee, PhD</h4>
                                                        <p class="card-text">Aritrick Chatterjee is a Research Assistant Professor at the Department of Radiology, University of Chicago</p>
                                                        <a data-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false" aria-controls="collapseExample" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="backside collapse" id="collapseExample3">
                                                <div class="card">
                                                    <div class="card-body text-center mt-4">
                                                        <h4 class="card-title">Aritrick Chatterjee, PhD</h4>
                                                        <p class="card-text">His current research focuses on the improved diagnosis of prostate cancer using MRI, including the development of new MRI acquisition, analysis and interpretation methods to provide reliable information such as cancer localization, volume, and aggressiveness for deciding the optimal treatment option.

                                                            His work focuses on estimating prostate tissue composition non-invasively using Hybrid Multidimensional MRI and developing CAD risk analysis tool that can effectively detect prostate cancer. His other projects involve using pre-treatment quantitative multi-parametric MRI and determining its association with biochemical outcome in men treated with radiation therapy for prostate cancer, investigating the feasibility of dynamic contrast enhanced MRI using low doses of contrast agent (Gadolinium), and ultrafast DCE-MRI for diagnosis of prostate cancer.

                                                            Aritrick has a wide range of expertise in medical imaging, especially MRI. He received his PhD from the University of Sydney focussing on understanding the biophysical basis of diffusion in prostate MRI and received his MSc degree from University College London and worked on imaging the microstructure of the brain using oscillating gradients on MRI. Aritrick (PI) and Dr Oto (mentor) received this RSNA Education grant (ESCH1805) to create an interactive app with multi-parametric MRI - whole mount histology correlation for enhanced prostate MRI training of radiologists.</p>
                                                        <ul class="list-inline">
                                                            <li class="list-inline-item">
                                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                                    <i class="fa fa-facebook"></i>
                                                                </a>
                                                            </li>
                                                            <li class="list-inline-item">
                                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                                    <i class="fa fa-twitter"></i>
                                                                </a>
                                                            </li>
                                                            <li class="list-inline-item">
                                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                                    <i class="fa fa-skype"></i>
                                                                </a>
                                                            </li>
                                                            <li class="list-inline-item">
                                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                                    <i class="fa fa-google"></i>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- ./Team member -->
                                <!-- Team member -->
                                <div class="col-xs-12 col-sm-6 col-md-4">
                                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                        <div class="mainflip">
                                            <div class="frontside">
                                                <div class="card">
                                                    <div class="card-body text-center">
                                                        <p><img class=" img-fluid" src="pic05.png" alt="card image"></p>
                                                        <h4 class="card-title">Dr. Stephen Thomas</h4>
                                                        <p class="card-text">Dr. Stephen Thomas was an Associate Professor of radiology at the University of Chicago</p>
                                                        <a data-toggle="collapse" href="#collapseExample4" role="button" aria-expanded="false" aria-controls="collapseExample" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="backside collapse" id="collapseExample4">
                                                <div class="card">
                                                    <div class="card-body text-center mt-4">
                                                        <h4 class="card-title">Dr. Stephen Thomas</h4>
                                                        <p class="card-text">Dr. Thomas has clinical expertise in MR imaging of the chest, abdomen and pelvis with specific interest in MR imaging of the genitourinary system.

                                                            His publications include many scientific articles, dozens of educational exhibits presented at major society meetings and several book chapters. Dr. Thomas is an excellent educator and has won several awards from his department</p>
                                                        <ul class="list-inline">
                                                            <li class="list-inline-item">
                                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                                    <i class="fa fa-facebook"></i>
                                                                </a>
                                                            </li>
                                                            <li class="list-inline-item">
                                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                                    <i class="fa fa-twitter"></i>
                                                                </a>
                                                            </li>
                                                            <li class="list-inline-item">
                                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                                    <i class="fa fa-skype"></i>
                                                                </a>
                                                            </li>
                                                            <li class="list-inline-item">
                                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                                    <i class="fa fa-google"></i>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- ./Team member -->
                                <!-- Team member -->
                                <div class="col-xs-12 col-sm-6 col-md-4">
                                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                        <div class="mainflip">
                                            <div class="frontside">
                                                <div class="card">
                                                    <div class="card-body text-center">
                                                        <p><img class=" img-fluid" src="pic06.png" alt="card image"></p>
                                                        <h4 class="card-title">Ambereen N. Yousuf, MBBS</h4>
                                                        <p class="card-text">Ambereen Yousuf is the Clinical Research Manager at the Grossman Center for Excellence in Prostate Imaging, and Associate Director of Clinical Research at the MRI Research Center at the University of Chicago</p>
                                                        <a data-toggle="collapse" href="#collapseExample5" role="button" aria-expanded="false" aria-controls="collapseExample" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="backside collapse" id="collapseExample5">
                                                <div class="card">
                                                    <div class="card-body text-center mt-4">
                                                        <h4 class="card-title">Ambereen N. Yousuf, MBBS</h4>
                                                        <p class="card-text">Dr. Yousuf’s work involves clinical trials management, data management, regulatory and compliance issues, with a focus on prostate cancer and MR imaging. As part of the prostate research imaging group at the University of Chicago, she has contributed towards and co-authored several publications ranging from novel methods of MRI acquisition and interpretation to image-guided, minimally invasive therapy for patients diagnosed with prostate cancer. Dr. Yousuf received her medical degree from Karachi University, Pakistan.</p>
                                                        <ul class="list-inline">
                                                            <li class="list-inline-item">
                                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                                    <i class="fa fa-facebook"></i>
                                                                </a>
                                                            </li>
                                                            <li class="list-inline-item">
                                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                                    <i class="fa fa-twitter"></i>
                                                                </a>
                                                            </li>
                                                            <li class="list-inline-item">
                                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                                    <i class="fa fa-skype"></i>
                                                                </a>
                                                            </li>
                                                            <li class="list-inline-item">
                                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                                    <i class="fa fa-google"></i>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <!-- ./Team member -->
                                <div class="col-xs-12 col-sm-6 col-md-4">
                                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                        <div class="mainflip">
                                            <div class="frontside">
                                                <div class="card">
                                                    <div class="card-body text-center">
                                                        <p><img class=" img-fluid" src="pic07.png" alt="card image"></p>
                                                        <h4 class="card-title">Milson Munakami, MSc</h4>
                                                        <p class="card-text">Milson Munakami is a Scientific Application Developer at the University of Chicago’s Research Computing Center (RCC)</p>
                                                        <a data-toggle="collapse" href="#collapseExample6" role="button" aria-expanded="false" aria-controls="collapseExample" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>




                                                    </div>
                                                </div>
                                            </div>
                                            <div class="backside collapse" id="collapseExample6">
                                                <div class="card">
                                                    <div class="card-body text-center mt-4">
                                                        <h4 class="card-title">Milson Munakami, MSc</h4>
                                                        <p class="card-text">His primary focus is on developing and building data-intensive, dynamic and more interactive scientific applications using a variety of scientific techniques and tools that allow to leverage the high-performance storage, resources and compute capacity of on-premise High-Performance Computing (HPC) data center called Midway. His role also involves providing technical support to troubleshoot researcher, hardware, and scientific software problems, evaluation and testing of new or future development, releases, and enhancements to streamline the scientific researches and studies.

                                                            Milson has a master’s degree in computer science (M.Sc.) from Boise State University (BSU), Boise, Idaho, USA. He is an experienced professional with great experience working in multifaceted academia and enterprise environments and has held various important positions. He is passionate about core technologies like Python, JAVA, .NET, C, C++, C#, PHP, Database and Blockchain to name just a few. He loves to write, run codes, and fond of contributing and sharing to the community. He strongly believes that learning new skills is a never-ending process and it that it gets bigger and better when shared with others. </p>
                                                        <ul class="list-inline">
                                                            <li class="list-inline-item">
                                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                                    <i class="fa fa-facebook"></i>
                                                                </a>
                                                            </li>
                                                            <li class="list-inline-item">
                                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                                    <i class="fa fa-twitter"></i>
                                                                </a>
                                                            </li>
                                                            <li class="list-inline-item">
                                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                                    <i class="fa fa-skype"></i>
                                                                </a>
                                                            </li>
                                                            <li class="list-inline-item">
                                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                                    <i class="fa fa-google"></i>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                </div> <!-- /container -->
            </main>
        </div>
    </div>

    <!-- FOOTER BEGINS -->
    <footer id="footer" class="footer" style="background-image: url({{absoluteUrl '/packages/ohif_viewerbase/assets/footer-bg.png'}});">
        <div class="container">
            <div class="row" style="padding: 8rem 0 8rem 0;">
                <div class="col-md-4 col-lg-4">
                    <a href="https://www.uchicago.edu/"><img
                            src={{absoluteUrl "/packages/ohif_viewerbase/assets/footer_logo.png"}}
                            alt="University of Chicago" class="footer-logo"></a>
                </div>

                <div class="col-md-3 col-lg-3">
                    <a href="https://www.lenovo.com/us/en/"><img
                            src={{absoluteUrl "/packages/ohif_viewerbase/assets/lenovo_logo_white.png"}}
                            alt="RSNA Educational Application" class="img-fluid footer-logo lenovo-logo"></a>
                </div>

                <div class="col-md-5 col-lg-5">
                    <a href="https://rcc.uchicago.edu/"><img
                            src={{absoluteUrl "/packages/ohif_viewerbase/assets/logo_RCC.png"}}
                            alt="Research Computing Center (RCC) at The University of Chicago" class="footer-logo"></a>
                </div>


            </div>
        </div>
        <div class="container-fluid"
            style="padding:.5rem!important; background: rgb(24, 24, 24) none repeat scroll 0% 0%!important;">
            <div class="row text-center">
                <div class="col-md-12">
                    <p style="color: #fff!important;padding-top: 10px;">Copyright &copy;2019 <a
                            href="https://rcc.uchicago.edu/" target="_blank">Research Computing Center, The University
                            of Chicago</a>. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- FOOTER ENDS -->
</template>